.wrapper {
  display: grid;
  grid-gap: 10px;
  width: 70%;
}
/* header */
.header {
  padding: 1.3rem;
  text-align: center;
}
.header h1 {
  text-decoration-line: underline;
}

/* Navigation */
.main-nav ul {
  display: grid;
  grid-gap: 20px;
  padding: 0;
  list-style: none;
  grid-template-columns: repeat(3, minmax(100px, 150px));
  justify-content: center;
}
.main-nav a {
  display: block;
  padding: 0.8rem;
  text-align: center;
  color: var(--dark);
  font-size: 0.7rem;
  box-shadow: var(--shadow);
}
.main-nav a:hover {
  background-color: var(--dark);
  color: var(--light);
}
