@import "style.css";
@import "./basic/basic.css";
@import "./global.css";

:root {
  --back: #f5b19c;
  --dark: #303960;
  --light: #f0ede3;
  --point: #f6c570;
  --shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
}

html {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: var(--back);
  display: flex;
  justify-content: center;
}
a {
  text-decoration: none;
  color: inherit;
}
/* Footer */
footer {
  grid-row: 4 / 5;
  text-align: center;
  font-size: 0.8rem;
}
