:root {
  --back: #f5b19c;
  --dark: #303960;
  --light: #f0ede3;
  --point: #f6c570;
  --shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
}

html {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  color: var(--dark);
  height: 1vh;
}

body {
  background-color: var(--back);
  margin: 10px 100px;
}
.wrapper {
  display: grid;
  grid-gap: 10px;
}
/* header */
.header {
  padding: 1.3rem;
  text-align: center;
}
.header h1 {
  text-decoration-line: underline;
}

/* Navigation */
.main-nav ul {
  display: grid;
  grid-gap: 20px;
  padding: 0;
  list-style: none;
  grid-template-columns: repeat(3, minmax(100px, 150px));
  justify-content: center;
}
.main-nav a {
  display: block;
  text-decoration: none;
  padding: 0.8rem;
  text-align: center;
  color: var(--dark);
  font-size: 0.7rem;
  box-shadow: var(--shadow);
}
.main-nav a:hover {
  background-color: var(--dark);
  color: var(--light);
}

/* Boxes */
.boxes {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
  height: 150px;
  justify-content: center;
  margin: 30px 0px;
}
.box {
  display: flex;
  background: var(--point);
  box-shadow: var(--shadow);
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.box h3,
.box p {
  color: var(--dark);
}
.box h3 {
  font-size: 20px;
  margin-bottom: 0px;
}
.box p {
  font-size: 0.8rem;
}
.box:hover {
  animation: boxAni 0.5s ease-in-out forwards;
}
@keyframes boxAni {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.2);
  }
}

/* Footer */
footer {
  text-align: center;
  font-size: 0.8rem;
}

/* Media Queries */
@media (max-width: 680px) {
  .boxes {
    grid-template-columns: repeat(1, 1fr);
  }
}
