body {
  background-color: #f5b19c;
  height: 1vh;
  margin: 10px, 50px;
}
a {
  text-decoration: none;
}

/* grid */
.grid-container {
  display: grid;
  grid-template-rows: 150px 300px 100px;
  justify-content: center;
  align-content: stretch;
}
.grid-header h1 {
  text-align: center;
  padding-top: 20px;
  font-size: 40px;
  color: #333;
}
.grid-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}
.grid-nav > a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 200px;
}
.grid-footer {
  display: grid;
  grid-template: repeat(2, 1fr), repeat(2, 1fr);
  text-align: center;
  align-items: center;
}
.grid-footer > .footer-logo {
  grid-column: span 2;
  color: #303960;
  padding: 15px;
}
.grid-footer > .footer-content a {
  padding: 15px;
  color: #333;
}
