.wrapper {
  display: grid;
  grid-gap: 10px;
}
/* header */
.header {
  padding: 1.3rem;
  text-align: center;
}
.header h1 {
  text-decoration-line: underline;
}
/* Boxes */
.boxes {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
  justify-content: center;
  margin: 30px 0px;
}
.box {
  display: flex;
  background: var(--point);
  box-shadow: var(--shadow);
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.box h3,
.box p {
  color: var(--dark);
}
.box h3 {
  font-size: 20px;
  margin-bottom: 0px;
}
.box p {
  font-size: 0.8rem;
}
.box:hover {
  animation: boxAni 0.5s ease-in-out forwards;
}
@keyframes boxAni {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.2);
  }
}

/* Media Queries */
@media (max-width: 680px) {
  .boxes {
    grid-template-columns: repeat(1, 1fr);
  }
}
