:root {
  --back: #f5b19c;
  --dark: #303960;
  --light: #f0ede3;
  --point: #f6c570;
  --shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
}

html {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  color: var(--dark);
}

body {
  background-color: var(--back);
}
.wrapper {
  display: grid;
  grid-gap: 10px;
}
/* header */
.header {
  padding: 1.3rem;
  text-align: center;
}
.header h1 {
  text-decoration-line: underline;
}

/* Navigation */
.main-nav ul {
  display: grid;
  grid-gap: 20px;
  padding: 0;
  list-style: none;
  grid-template-columns: repeat(3, 1fr);
}
.main-nav a {
  background: var(--point);
  display: block;
  text-decoration: none;
  padding: 0.8rem;
  text-align: center;
  color: var(--dark);
  font-size: 1.1rem;
  box-shadow: var(--shadow);
}
